/*
	Author: LAB
	Styling for Vize

    LICENSE: MIT
*/

body {
    font-family: 'Comfortaa', cursive;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    /*box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);*/
    background: black;
}

footer {
    position: absolute;
    color: white;
    margin: 1em;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

footer h4, footer h5 {
    display: inline-block;
    background: black;
    padding: 0.5em 1em;
    margin-top: 0.1em;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    pointer-events: none;
}

#controls button, #now-playing div {
    margin-bottom: 0.1em;
}

.interactive {
    pointer-events: auto;
}

#now-playing {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#now-playing h2 {
    display: inline-block;
    background: black;
    padding: 3px 1em;
    border: 1px solid black;
}

#song-name {
    display: inline-block;
    background-color: black;
    padding: 3px 1em;
    margin-right: 0.5em;
    border: 1px solid black;
}

#brand {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.3em;
    padding: 0 0.5em;
    background: black;
    color: white;
}

#brand, #now-playing, footer {
    pointer-events: none;
}

.toggle-target {
    transition: 0.2s;
}

.toggle-disabled {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-inline-row {
    display: inline-flex;
    flex-direction: row;
}

.tool-row, .margin-bottom {
    margin-bottom: 0.2em;
}

.tool-col, .margin-right {
    margin-right: 0.2em;
}

.generic-label {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 25px;
}

.generic-label span {
    padding: 3px 1em;
}
